.body {
  margin: 0;
  width: 100vw;
  box-sizing: border-box;
}

.colorBox {
  height: 39vw;
  padding: 5rem 0;
  background-color: rgb(183, 199, 201);
  display: flex;
  justify-content: space-between;
}

.rowContainer {
  display: flex;
  justify-content: center;
}
.container {
  display: flex;
  justify-content: center;
}

.imageBox {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 37rem;
  height: 37rem;
}

.titleBox {
  padding: 0 8rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  margin: 1rem 0 1rem;
  font-weight: bolder;
  font-size: calc(3.8rem + (8 * (100vw - 360px)) / 407);
}

.subtitle {
  text-align: left;
  padding: 0.5rem 0 0 0;
  margin: 0;
  font-size: calc(0.7rem + (4 * (100vw - 360px)) / 407);
  color: rgba(0, 0, 0, 0.88);
  line-height: 1.6;
  letter-spacing: 1.2px;
  font-weight: 400;
}

.contentBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.discover {
  padding-top: 128px;
  color: rgb(204, 131, 92);
  margin-bottom: 2.6em;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25;
  word-spacing: 1px;
}

.explore {
  font-weight: 600;
  line-height: 1.25;
  text-align: center;
  font-size: calc(1rem + (16 * (100vw - 360px)) / 407);
}

.line {
  background-color: rgb(238, 226, 215);
  height: 0.125rem;
  width: 100%;
}
@media (max-width: 900px) {
  .colorBox {
    display: block;
  }

  .rowContainer {
    align-items: center;
  }

  .image {
    width: 90%;
    height: 90%;
  }

  .title {
    margin: 0;
    padding: 1rem 0;
    font-weight: 700;
    font-size: calc(4.5rem + (8 * (100vw - 360px)) / 407);
  }
  .subtitle {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: calc(1.1rem + (4 * (100vw - 360px)) / 407);
  }
  .titleBox {
    margin: 0;
    padding: 0 1.5rem;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .colorBox {
    height: 170vw;
    padding-top: 5rem;
  }

  .explore {
    font-size: calc(1.7rem + (16 * (100vw - 360px)) / 407);
  }
}
