.tabContainer {
  width: 100vw;
  display: flex;
  overflow-x: scroll;
  padding: 1rem 0;
  margin: 0rem 0 1rem;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.tabitem {
  padding: 0rem 0.5rem 0.2rem 0.5rem;
  display: flex;
  justify-content: center;
  min-width: 140px;
  text-align: center;
  font-size: 1.3rem;
  cursor: pointer;
  color: #7b7876;
}

.tabitem:hover {
  color: #7b7876b5;
}

.tabitem.active {
  transition: all 100ms ease-in 0s;
  border-bottom: 0.2rem solid transparent;
}

.tabText {
  font-family: Sofia;
  font-size: 1.4rem;
  font-weight: 900;
  letter-spacing: 1px;
}
